@tailwind base;
@tailwind components;
@tailwind utilities;

.heroImage {
  box-shadow: inset 0 0 0 1000px rgba(34, 1, 1, 0.9);
}

.warehouse {
  box-shadow: inset 0 0 0 1000px rgba(34, 1, 1, 0.5);
}

.about {
  box-shadow: inset 0 0 0 1000px rgba(1, 1, 1, 0.7);
}
